.data-reader {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    padding: 20px;
    text-align: left; /* Align text to the left */
    max-width: 800px;
    margin: 0 auto;
}

.title {
    font-size: 2em;
    margin-bottom: 10px;
}

.body {
    line-height: 1.6;
    margin-bottom: 20px;
}

.items {
    list-style: none;
    padding: 0;
    width: 100%; /* Ocupa el ancho máximo definido para el contenedor padre */
}

.items > li {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 15px;
}

.items > li > ul {
    list-style: none;
    padding: 0;
    text-align: left; /* Alinea el texto de las sub-listas a la izquierda */
}

.items > li > ul > li {
    margin-left: 20px;
    line-height: 1.4;
}

.items > li > ul > h2 {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left; /* Alinea los subtítulos a la izquierda */
}