* {
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  overflow-x: hidden;
}

.model_container {
  height: 650px;
  width: 800px;
  margin-top: -30%;
  margin-left: 50%;
}

@media (max-height: 779px) {
  .popupHome {
    visibility: visible;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-top: -47%;
    width: 90%;
    height: 85%;
    padding: 10px;
    background: linear-gradient(to right, rgb(14, 24, 44), rgb(33, 49, 94));
    border-radius: 50px;
    z-index: 999;
  }

  .popupModelContainer {
    width: 100%;
    height: 97%;
  }

  .popupCanvas {
    width: 100%;
    height: 100%;
    margin-top: 20;
  }

  .popupHome__BtnClose {
    width: 1000px;
    position: absolute;
    bottom: 5dvh;
  }
}

@media (min-height: 780px) {
  .popupHome {
    visibility: visible;
    position: absolute;
    margin-left: auto;
    display: flex;
    margin-right: auto;
    margin-top: -45%;
    width: 90%;
    height: 85%;
    background: linear-gradient(to right, rgb(14, 24, 44), rgb(33, 49, 94));
    border-radius: 50px;
    z-index: 999;
  }

  .popupModelContainer {
    width: 100%;
    height: 600px;
  }

  .popupCanvas {
    width: 100%;
    height: 100%;
  }

  .popupHome__BtnClose {
    width: 95%;
    height: 7%;
    position: absolute;
    bottom: 5%;
    left: 2.5%;
  }
}

.circularLights3 {
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 500px;
  opacity: 0.5;
  border-radius: 100%;
  filter: blur(300px);
  position: absolute;
  left: 1400px;
}

.circularLights4 {
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 500px;
  opacity: 0.5;
  border-radius: 100%;
  filter: blur(300px);
  position: absolute;
  top: 600px;
  left: -100px;
}

.popupHome__tittle {
  font-size: 60px;
}

