.section#prevention {
  display: none;
}

.pneumonia-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

canvas {
  /* border: 1px solid #ccc; */
  border-radius: 20px;
  height: 40vh;
  width: 40vw;
}

.pneumonia-page {
  margin-top: 2%;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  scroll-behavior: smooth;
}

.section {
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  padding: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  gap: 50px;
}

.model-container {
  width: 100%;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  /* Añadido para posicionar el botón dentro */
}

.model-container>button {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  /* Previene que el botón se escale en hover */
  transition: background-color 0.3s, box-shadow 0.2s;
}

/* Evita que el botón dentro del canvas se mueva al hacer hover */
.model-container>button:hover,
.model-container>button:active {
  background-color: #1467b8;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  /* Fuerza a no escalar ni transformar */
  transform: translateX(-50%);
}

.text-container {
  font-size: 20px;
  text-align: left;
  flex: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.text-container h1 {
  text-align: center;
  /* Center-align the title */
  width: 100%;
  /* Ensure it spans the full width */
}

h1,
h2 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
  line-height: 1.6;
}

button {
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #1f88e5;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

button:hover {
  background-color: #1467b8;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Responsive for mobile */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .text-container {
    text-align: center;
    max-width: 100%;
  }

  .model-container {
    height: 350px;
  }
}