*{
    color: rgb(255,255,255);
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat";
}

body{
    background-color: rgb(0,0,35);
}


.principalTextSection{
    position: absolute;
    top: 22%;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 680px;
    text-align: left;
}

.principalTextSection__tittle{
    font-size: 38px;
    margin-bottom: 50px;
}
.principalTextSection__paragraph{
    font-size: 28px;
}


.circularLights1{
    background-color: rgb(255,255,255);
    width: 500px;
    height: 500px;
    opacity: 0.9;
    border-radius: 100%;
    filter: blur(300px);
    position: absolute;
    right: -200px;
}

.callToActionSection{
    width: 95%;
    height: 350px;
    position: absolute;
    margin-left: auto;
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.callToActionSection__tittle{
    font-size: 40px;
    margin-bottom: 50px;   
    text-align: center;
    z-index: 1000;
}

.callToActionButtons__btnContainer{
    align-self: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 150px;
    width: 90%;
    height: 150px;
}

.callToActionButtons__btnPneumonia,
.callToActionButtons__btnTuberculosis,
.callToActionButtons__btnLungsCancer,
.callToActionButtons__btnECP{
    font-size: 30px;
    border: solid 4px rgb(0,0,0);
    background-color: rgb(40,40,76);
}
.callToActionButtons__btnPneumonia:hover,
.callToActionButtons__btnTuberculosis:hover,
.callToActionButtons__btnLungsCancer:hover,
.callToActionButtons__btnECP:hover{
    font-size: 30px;
    border: solid 4px rgb(155,155,155);
    background-color: rgb(70,70,146);
    transition: background-color 0.2s;
}

.circularLights2{
    background-color: rgb(255,255,255);
    width: 500px;
    height: 500px;
    opacity: 0.7;
    border-radius: 100%;
    filter: blur(300px);
    position: absolute;
    bottom: -500px;
    left: -100px;
}

footer{
    z-index: 100;
}